.button-link {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #66d86f;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  
}

.button-link:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.book_table{
  width: 90%;
  border-collapse: separate;
  border-spacing: 5px;
  margin:auto
}

th,
td {
  padding: 20px;
  border: 1px solid #000;
}

/*thとtdにそれぞれ背景色を追加*/
th {
  background-color: rgb(204, 204, 204);
}

/* table全体に適用する背景色 */
table {
  border-collapse: collapse;
  background: #eaf6fe;
}

/* thの背景色*/
table th {
  color: #fff;
  background: #14116e;
}
